<mat-card  class="example-card">
    <mat-card-header>
        <mat-card-title>{{ heroe.superhero }}</mat-card-title>
        <mat-card-subtitle>{{ heroe.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    
    <!-- src="assets/heroes/{{ heroe.id }}.jpg" alt="img de {{ heroe.id }}"> -->
    <img mat-card-image
    style="max-height:400px;"
    [src]="heroe | imagen" alt="img de {{ heroe.id }}">

    <mat-card-content>
        <h3>{{ heroe.publisher }}</h3>
        <p>
            <strong>Primera aparición: </strong> {{ heroe.first_appearance }}
            <br>
            <strong>Personajes: </strong> {{ heroe.characters }}
            
        </p>
    </mat-card-content>

    <mat-card-actions>
        
        <button mat-button color="warn" [routerLink]="['/heroes', heroe.id]" >Leer más.. </button>
        <button mat-button color="warn" [routerLink]="['/heroes/editar', heroe.id]">Editar </button>

    </mat-card-actions>

</mat-card>