<h1>{{ (heroe.id) ? 'Editar' : 'Nuevo' }} Héroe <small>{{ heroe.superhero }}</small></h1>

<div class="flex">

    <div class="contenedor">

        <mat-form-field class="mat-form-field">
            <mat-label>Super Héroe</mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.superhero" name="superhero">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
            <mat-label>Alter Ego </mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.alter_ego" name="alter_ego">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
            <mat-label>Primer Aparición</mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.first_appearance" name="first_appearance">
        </mat-form-field>

        <mat-form-field class="mat-form-field">
            <mat-label>Personajes </mat-label>
            <input type="text" matInput required [(ngModel)]="heroe.characters" name="characters">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Creador</mat-label>
            <mat-select [(ngModel)]="heroe.publisher" [name]="heroe.publisher">
                <mat-option *ngFor="let publisher of publishers" required [value]="publisher.id">
                    {{ publisher.desc }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto Url</mat-label>
            <input type="url" matInput required [(ngModel)]="heroe.alt_img" name="alt_img">
        </mat-form-field>

        <br>

        <button mat-raised-button color="primary" class="text-center mat-form-field" (click)="guardar()">
            <mat-icon>save</mat-icon>
            {{ (heroe.id) ? 'Actualizar' : 'Editar' }}
        </button>

        <div class="mt-5" *ngIf="heroe.id">
            <button
            (click)="borrarHeroe()"
            mat-raised-button color="warn" class="text-center mat-form-field ">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>

    </div>

    <div class="contenedor">
        <img [src]="heroe | imagen" alt="heroe.img">
    </div>

</div>