<!-- <h1>hello world</h1>

<ul>
  <li><a routerLink="auth/login">ir a login</a></li>
  <li><a routerLink="auth/registro">ir a registro</a></li>
  <li><a routerLink="heroes/listado"> 'heroes/listado' </a></li>
  <li><a routerLink="heroes/agregar"> 'heroes/agregar' </a></li>
  <li><a routerLink="heroes/editar/:id"> 'heroes/editar/:id' </a></li>
  <li><a routerLink="heroes/buscar"> 'heroes/buscar' </a></li>
  <li><a routerLink="heroes/:id"> 'heroes/:id' </a></li>
</ul> -->

<router-outlet></router-outlet>